*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#video{
    max-width: 400px;
}

#button{
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    font-size: .75em;
    transition-property: box-shadow;
    transition-duration: .3s;
    color: white;
}

#button:hover{
    cursor: pointer;
    box-shadow: gray 0 0 5px 5px;
    transition-property: box-shadow;
    transition-duration: .2s;
}
